<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>
      {% block title %}
        进阶 Django 教程
      {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="description" content="进阶 Django 中文教程，" />
    <meta name="keywords" content="Django, Web, Web Development, Django Development, Django 中文教程, 进阶 Django 教程" />
    <meta name="author" content="Chen Jian(lsdvincent|lsdlab)" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/helper.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/notie.min.css" %}">

    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="{% static "css/yue.css" %}">

    <script src="{% static "js/jquery-3.2.0.min.js" %}"></script>
    <script src="{% static "js/tether.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/nprogress.js" %}"></script>
    <script src="{% static "js/notie.min.js" %}"></script>

    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% include "partials/navbar.html" %}

    {% block content %}
    {% endblock %}

    {% include "partials/footer.html" %}

    {% block pagejs %}
    {% endblock %}
  </body>
</html>
