{% extends "partials/base.html" %}

{% block pagetilte %}
  <title>进阶 Django 教程</title>
{% endblock %}


{% block content %}

  <div class="container mt20">
    {% include "partials/flash.html" %}
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>任务队列和定时任务</h2>
          <p>使用 Celery, django-rq, django-corntab 构建任务队列、定时任务应用</p>
          <p><a class="btn btn-secondary" href="/job_queue/" role="button">任务队列 &raquo;</a></p>
        </div>
        <div class="col-md-12">
          <h2>搜索</h2>
          <p>使用 django-elasticsearch 构建复杂搜索应用</p>
          <p><a class="btn btn-secondary" href="/search/" role="button">搜索 &raquo;</a></p>
        </div>
        <div class="col-md-12">
          <h2>RESTful API</h2>
          <p>Django REST framework 结合 JWT 验证、限流器，构建高性能 API 应用。</p>
          <p><a class="btn btn-secondary" href="/restful_api/" role="button">RESTful API &raquo;</a></p>
        </div>
        <div class="col-md-12">
          <h2>博客</h2>
          <p>博客 App</p>
          <p><a class="btn btn-secondary" href="/article/" role="button">博客 App &raquo;</a></p>
        </div>
        <div class="col-md-12">
          <h2>用户</h2>
          <p>用户 App</p>
          <p><a class="btn btn-secondary" href="/user/profile" role="button">用户 App &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->

{% endblock %}


{% block pagejs %}
  <script>
    // NProgress.start()

    // NProgress.done()
  </script>
{% endblock %}

