{% extends "partials/base.html" %}

{% block pagetilte %}
  <title>进阶 Django 教程</title>
{% endblock %}


{% block content %}

  <div class="container mt20">
    {% include "partials/flash.html" %}
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron pt20 pb20 mb20">
      <div class="container">
        <h1 class="display-3">进阶 Django 教程</h1>
        <p></p>
        <!-- <p><a class="btn btn-primary btn-lg" href="" role="button">开始学习 &raquo;</a></p> -->
        <p><a class="btn btn-primary btn-lg" href="http://localhost:8001" role="button">开始学习 &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>任务队列和定时任务</h2>
          <p>使用 Celery, django-rq, django-corntab 构建任务队列、定时任务应用</p>
          <p><a class="btn btn-secondary" href="/job_queue/" role="button">任务队列 &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>搜索</h2>
          <p>使用 django-elasticsearch 构建复杂搜索应用</p>
          <p><a class="btn btn-secondary" href="/search/" role="button">搜索 &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>RESTful API</h2>
          <p>Django REST framework 结合 JWT 验证、限流器，构建高性能 API 应用。</p>
          <p><a class="btn btn-secondary" href="/restful_api/" role="button">RESTful API &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->

{% endblock %}


{% block pagejs %}
  <script>
    // NProgress.start()

    // NProgress.done()
  </script>
{% endblock %}

