{% extends "partials/base.html" %}

{% block pagetilte %}
  <title>Dashboard</title>
{% endblock %}

{% block content %}
  <div class="container mt30" style="margin-bottom: 240px">
    <h2 style="float: left">所有资产<span class="badge badge-pill badge-primary ml20">{{ tag_name }}</span></h2>
    <div class="pull-right mr15">
      <a href="{% url 'dashboard:inventory_new' %}" class="btn btn-primary"><span class="fa fa-map-marker mr5"></span>新增</a>
    </div>
    <div class="pt50">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>名称</th>
              <th>IP</th>
              <th>地区</th>
              <th>添加时间</th>
              <th>更新时间</th>
              <th>标签</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% for inventory in inventory_list %}
              <tr>
                <td>{{ inventory.id }}</td>
                <td>{{ inventory.name }}</td>
                <td>{{ inventory.ip }}</td>
                <td>{{ inventory.regions }}</td>
                <td>{{ inventory.create_time | date:'Y-m-d' }}</td>
                <td>{{ inventory.update_time | date:'Y-m-d' }}</td>
                <td>
                  {% for tag in inventory.tags.all %}
                      <a {% if tag_name == tag.name %} class="badge badge-pill badge-primary" {% else %} class="badge badge-pill badge-primary"  {% endif %} href="/inventory/tag/{{tag.name}}">{{ tag.name }}</a>
                  {% endfor %}
                </td>
                <td>
                  <a class="btn btn-primary btn-sm mr5" href="/inventory/{{ inventory.id }}/" style="float: left">编辑</a>
                  <a class="btn btn-primary btn-sm delete-inventory-btn" href="#" data-inventory-id="{{ inventory.id }}">删除</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div>
        {% if inventory_list.object_list and inventory_list.paginator.num_pages > 1 %}
          <div class="mt20">
            <ul class="pagination justify-content-end">
            {% if inventory_list.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ inventory_list.previous_page_number }}" tabindex="-1"> ← 上一页</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#"> ← 上一页</a>
              </li>
            {% endif %}

            {% if inventory_list.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ inventory_list.next_page_number }}">下一页 → </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">下一页 → </a>
              </li>
            {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}


{% block pagejs %}
  <script>
    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }

    $('.delete-inventory-btn').on('click', function(event) {
      var inventory_id = $(this).attr('data-inventory-id')

      swal({
        title: '确认删除资产？',
        text: "",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: '确认删除',
        cancelButtonText: '取消删除'
      }).then(function () {
        $.ajax({
            url: '/inventory/delete/' + inventory_id + '/',
            type: 'DELETE',
            dataType: "json",
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            },
            success: function(data) {
              // Do something with the result
              console.log(data)
              if (data['result'] === 'ok') {
                swal({
                  title: '删除成功',
                  text: '',
                  type: 'error',
                   timer: 2000
                })
              } else {
                swal({
                  title: '删除失败',
                  text: '',
                  type: 'error',
                   timer: 2000
                })
              }
            }
          });

      })
    })
  </script>
{% endblock %}

